<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="formularioLogin" (ngSubmit)="validar()">

    <ion-row>
      <ion-col>
        <ion-text color="primary" class="ion-text-center">
          <h1>Login</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password </ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" type="submit" role="submit">
          Iniciar sesion
        </ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>



</ion-content>
